<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="netTcpBinding1" maxConnections="100">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <diagnostics performanceCounters="Default" />
        <services>
            <service behaviorConfiguration="MetadataBehavior" name="ChatAppServiceLibrary.ChatManagerService">
                <clear />
                <endpoint address="ChatManagerService" binding="netTcpBinding"
                    bindingConfiguration="netTcpBinding1" name="netTcp" contract="ChatAppServiceLibrary.IChatManagerService"
                    listenUriMode="Explicit" />
                <endpoint address="mex"
                    binding="mexHttpBinding" contract="IMetadataExchange"  />
                <host>
                    <baseAddresses>
                      <add baseAddress="net.tcp://localhost:8733" />
                      <add baseAddress="http://localhost:5001" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="MetadataBehavior">
            <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>